n8n/workflows/05_inbound_listener.json
{
  "name": "05 Inbound Listener",
  "id": "wf_05_inbound_listener",
  "nodes": [
    {
      "parameters": {
        "path": "telegram/events",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-events",
      "name": "Telegram Events Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        300
      ],
      "webhookId": "telegram-events"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equals",
              "value2": "incoming_message"
            }
          ]
        }
      },
      "id": "if-incoming",
      "name": "Incoming Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = String($json.text || '').toLowerCase();\nlet intent = 'Other';\nlet priority = false;\nif (text.includes('not interested') || text.includes('stop') || text.includes('unsubscribe')) intent = 'Not Interested';\nelse if (text.includes('later') || text.includes('next month')) intent = 'Not Now';\nelse if (text.includes('demo') || text.includes('pricing') || text.includes('call') || text.includes('meeting')) { intent = 'Interested'; priority = true; }\nelse if (text.includes('interested')) intent = 'Interested';\nconst leadId = $json.lead_id || $json.telegram_user_id || `unknown-${Date.now()}`;\nreturn [{ json: { ...$json, intent, priority_flag: priority, lead_id: leadId } }];"
      },
      "id": "classify-intent",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($env.GSHEET_ENABLED || 'false').toLowerCase()}}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "if-gsheet-enabled",
      "name": "Google Sheets Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        840,
        220
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{$env.GSHEET_ID}}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Replies"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reply_id": "={{$json.event_id}}",
            "lead_id": "={{$json.lead_id}}",
            "campaign_id": "={{$json.raw?.campaign_id || 'unknown'}}",
            "inbound_text": "={{$json.text}}",
            "intent": "={{$json.intent}}",
            "priority_flag": "={{$json.priority_flag}}",
            "timestamp": "={{$json.timestamp}}"
          },
          "schema": []
        }
      },
      "id": "append-reply",
      "name": "Append Replies",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        940,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draft = `Thanks for your reply. ${$json.intent === 'Interested' ? 'Happy to share details and schedule a short call.' : 'Appreciate the update.'}`;\nreturn [{ json: {\n  task_id: `task-${$json.event_id}` ,\n  lead_id: $json.lead_id,\n  campaign_id: $json.raw?.campaign_id || 'unknown',\n  draft_text: draft,\n  status: 'Open',\n  claimed_by: '',\n  created_at: new Date().toISOString(),\n  sla_due_at: new Date(Date.now() + Number($env.APPROVAL_SLA_MINUTES || 120) * 60 * 1000).toISOString(),\n  resolution: '',\n  priority_flag: $json.priority_flag,\n  intent: $json.intent,\n  inbound_text: $json.text\n}}];"
      },
      "id": "build-approval",
      "name": "Build Approval Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        220
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{$env.GSHEET_ID}}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{$json.task_id}}",
            "lead_id": "={{$json.lead_id}}",
            "campaign_id": "={{$json.campaign_id}}",
            "draft_text": "={{$json.draft_text}}",
            "status": "={{$json.status}}",
            "claimed_by": "={{$json.claimed_by}}",
            "created_at": "={{$json.created_at}}",
            "sla_due_at": "={{$json.sla_due_at}}",
            "resolution": "={{$json.resolution}}"
          },
          "schema": []
        }
      },
      "id": "append-approval",
      "name": "Append Approval Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1420,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($env.OPS_NOTIFY_ENABLED || 'false').toLowerCase()}}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "if-ops-notify",
      "name": "Ops Notify Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        220
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.OPS_CHAT_ID}}",
        "text": "={{'New reply from lead ' + $json.lead_id + ' intent: ' + $json.intent + '\n\nInbound: ' + $json.inbound_text + '\n\nDraft: ' + $json.draft_text + '\nTask: ' + $json.task_id}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "notify-ops",
      "name": "Notify Ops Group",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1900,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Ops Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}"
      },
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        2140,
        320
      ]
    }
  ],
  "connections": {
    "Telegram Events Webhook": {
      "main": [
        [
          {
            "node": "Incoming Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming Message?": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Google Sheets Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Enabled?": {
      "main": [
        [
          {
            "node": "Append Replies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Replies": {
      "main": [
        [
          {
            "node": "Build Approval Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Task": {
      "main": [
        [
          {
            "node": "Append Approval Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Approval Queue": {
      "main": [
        [
          {
            "node": "Ops Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ops Notify Enabled?": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Ops Group": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
